@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fill-primary {
    --tw-text-opacity: 1;
    fill: var(--fallback-p, oklch(var(--p) / var(--tw-text-opacity)));
  }
  .bg-grid-white\/\[0\.02\] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.02)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }
}
